/* Linux Libertine O */

@font-face {
  font-family: 'Linux Libertine O';
  src: url('linlib-r-subset.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url('linlib-ri-subset.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine O';
  src: url('linlib-rb-subset.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine Capitals O';
  src: url('linlib-as-subset.woff');
  font-weight: normal;
  font-style: normal;
}

/* Linux Biolinum O */

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('linbio-r-subset.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('linbio-ri-subset.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Biolinum O';
  src: url('linbio-rb-subset.woff');
  font-weight: bold;
  font-style: normal;
}

/* Inconsolata LGC */

@font-face {
  font-family: 'Inconsolata LGC';
  src: url('incons-r-subset.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata LGC';
  src: url('incons-ri-subset.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata LGC';
  src: url('incons-rb-subset.woff');
  font-weight: bold;
  font-style: normal;
}

/* To display subscripts and angle brackets that are missing in Inconsolata */
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('dejamono-r-subset.woff');
    font-weight: normal;
    font-style: normal;
}

/* Computer Modern math font for extended symbols */
/* (Figure 3.33 uses this for integral sign) */

@font-face {
  font-family: 'jsMath-cmex10';
  src: url('jsMath-cmex10-subset.woff');
  font-weight: normal;
  font-style: normal;
}

/* STIX fonts */

@font-face {
  font-family: 'STIXSizeOneSym';
  src:url('STIXSizeOneSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeTwoSym';
  src:url('STIXSizeTwoSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeThreeSym';
  src:url('STIXSizeThreeSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeFourSym';
  src:url('STIXSizeFourSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXSizeFiveSym';
  src:url('STIXSizeFiveSym-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STIXIntegralsD';
  src:url('STIXIntegralsD-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: STIXGeneral;
  src:url('STIXGeneral-Regular-subset.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: STIXGeneral;
  src:url('STIXGeneral-Italic-subset.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: STIXGeneral;
  src:url('STIXGeneral-Bold-subset.woff');
  font-weight: bold;
  font-style: normal;
}

/* A few arrows for navigation */

@font-face {
  font-family: 'DejaVu-Arrows';
  src:url('dejasans-b-arrows.woff');
  font-weight: bold;
  font-style: normal;
}


